Лабораторная работа по курсу «Python для анализа данных»

Задача 1
Дана строка
string_01 = “Mama, just killed a man, put a gun against his head,
pulled my trigger, now he's dead. Mama, life had just begun, but
now I've gone and thrown it all away. Mama, ooh (any way the wind
blows), didn't mean to make you cry. If I'm not back again this
time tomorrow carry on, carry on as if nothing really matters.”
1. Посчитайте, сколько в строке символов (исключая пробелы).
2. Посчитайте, сколько в строке слов.
3. Напишите функцию, которая будет принимать в качестве аргумента букву и
выводить все слова из строки, заканчивающиеся на эту букву (например, “s”).
4. Не обязательно: Напишите функцию, которая будет принимать в качестве
аргумента букву и выводить все слова из строки, начинающиеся на эту букву
(например, “m”).

In [59]:
string_01 = "Mama, just killed a man, put a gun against his head, pulled my trigger, now he's dead. Mama, life had just begun, but now I've gone and thrown it all away. Mama, ooh (any way the wind blows), didn't mean to make you cry. If I'm not back again this time tomorrow carry on, carry on as if nothing really matters."

In [66]:
#1
new_string = string_01.replace(' ','')
len(new_string)

250

In [64]:
#2
new_list = string_01.split(' ')
len(new_list)

61

In [67]:
3#
import re

def search_end(letter):
    string_02 = re.sub(r'[^\w\s]','',string_01)
    list_ = [ t for t in string_02.split() if t.endswith(str(letter)) ]
    return list_

search_end('s')

['his', 'hes', 'blows', 'this', 'as', 'matters']

Задача 2
Напишите код, который будет генерировать случайную последовательность из 6
цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например:
"456309" или "330127".

In [ ]:
Задача 3
Дан список
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]
Напишите алгоритм, который выводит сумму элементов списка, которые больше
10, но меньше 100.

In [52]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

In [54]:
sum_ = 0
for el in list_01:
    if el < 100:
        if el > 10:
            sum_ += el
print(sum_)

212

In [ ]:
Задача 4
Данные студентов представлены в виде списка списков:
students = [
 ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009",
"БСТ161"],
 ["1102", "Богов", "Артем", "Игоревич", "25.01.2010",
"БСТ162"],Задача 4
["0333", "Глаголева", "Анастасия", "Николаевна",
"11.07.2009", "БСТ163"],
 ["4004", "Степанова", "Наталья", "Александровна",
"13.02.2008", "БСТ161"],
 ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009",
"БСТ161"],
 ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009",
"БСТ164"],
 ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010",
"БСТ162"],
 ["0309", "Шафутинский", "Михаил", "Михайлович",
"03.09.2007", "БСТ163"]
 ]
1. Преобразуйте данные таким образом, чтобы они были представлены в виде
словаря, в котором ключами являются номера студентов, а значениями —
список из других данных о студентах.
2. Напишите функцию, которая принимает в качестве аргумента номер студента и
новый номер группы и позволяет изменить номер группы этого студента на
новый.
3. Напишите функцию, которая принимает номер группы и выводит список
(фамилии, имена, отчества) всех студентов этой группы.

In [6]:
students = [
 ["0001", "Антонов", "Антон", "Игоревич", "20.08.2009",
"БСТ161"],
 ["1102", "Богов", "Артем", "Игоревич", "25.01.2010",
"БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна",
"11.07.2009", "БСТ163"],
 ["4004", "Степанова", "Наталья", "Александровна",
"13.02.2008", "БСТ161"],
 ["0045", "Боков", "Игорь", "Харитонович", "02.06.2009",
"БСТ161"],
 ["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009",
"БСТ164"],
 ["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010",
"БСТ162"],
 ["0309", "Шафутинский", "Михаил", "Михайлович",
"03.09.2007", "БСТ163"]
 ]

In [9]:
#1
students_dict = {}
for student in students:
    students_dict.setdefault(student[0],0)
    students_dict[student[0]] = student[1:]
print(students_dict)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'], '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ163']}

In [11]:
#2
num_student = input('Введите номер студента: ')
new_group = input('Введите новый номер группы: ')
def group_change(num_student,new_group):
    for key,value in students_dict.items():
        students_dict[num_student][4] = new_group
        return students_dict
group_change(num_student,new_group)

Введите номер студента: 0309
Введите новый номер группы: БСТ161

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162'],
 '0309': ['Шафутинский', 'Михаил', 'Михайлович', '03.09.2007', 'БСТ161']}

In [17]:
#3
num_group = input('Введите номер группы: ')
def list_group(num_group):
    group_list = []
    for v in students_dict.values():
        if v[4] == num_group:
            group_list.append(v[0:3])
    return group_list
list_group(num_group)

Введите номер группы: БСТ161

[['Антонов', 'Антон', 'Игоревич'],
 ['Степанова', 'Наталья', 'Александровна'],
 ['Боков', 'Игорь', 'Харитонович'],
 ['Шафутинский', 'Михаил', 'Михайлович']]

Задача 5
Дана матрица:
matrix = [
[0, 1, 2, 4, 8],
[6, 2, 2, 1, 9],
[3, 3, 3, 3, 3],
[4, 6, 7, 1, 2],
[5, 7, 3, 4, 0]
]
1. Выведите результат сложения всех элементов матрицы.
2. Напишите алгоритм вычисления максимума из сумм элементов каждого
столбца.

In [18]:
matrix = [
[0, 1, 2, 4, 8],
[6, 2, 2, 1, 9],
[3, 3, 3, 3, 3],
[4, 6, 7, 1, 2],
[5, 7, 3, 4, 0]
]

In [26]:
import numpy as np

In [27]:
#1
total_sum = np.sum(matrix)
total_sum

89

In [51]:
#2
m = np.asarray(matrix).sum(axis = 0)
max_sum_column = np.max(m)
max_sum_column

22